@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

.wrapper {
  max-width: 75%;
  margin: auto;
}

.wrapper > p,
.wrapper > h1 {
  margin: 1.5rem 0;
  text-align: center;
}

.wrapper > h1 {
  letter-spacing: 3px;
}

.accordion {
  background-color: white;
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  font-size: 1.2rem;
  width: 100%;
  padding: 2rem 2.5rem;
  border: none;
  outline: none;
  transition: 0.4s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 20px;

}

.accordion i {
  font-size: 1.6rem;
}

.active,
.accordion:hover {
  background-color: #0061B8;
  transform: translateY(-10px);
  color: white;
}

.pannel {
  padding: 15px;
  background-color: white;
  overflow: hidden;
  background-color: #FAF9F9;
  display: none;
}

.pannel p {
  color: rgba(0, 0, 0, 0.8);
  font-size: 1.2rem;
  line-height: 1.4;
  font-size: 25px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.faq {
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin: 10px 0;
}

.faq.active {
  border: none;
}

.bold-dark {
    font-weight: 700;
    color: #333;
}

